<div class="container mx-auto">
  <div class="signUp-Form my-8 px-4">
    <form [formGroup]="signInForm" class=" mx-auto rounded-lg shadow-lg px-2 lg:px-10 py-10  max-w-xl ">
      <p class="title my-6">Sign In</p>

      <!-- & Email -->
      <div class="relative z-0 w-full mb-5 group">

        <div class="relative w-full">
          <!-- Email Icon -->
          <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-500 border-r pr-2">
            <i class="fa-solid fa-envelope text-lg"></i>
          </span>

          <!-- Input Field -->
          <input type="email" name="floating_email" id="floating_email" placeholder="Email Address" required
            autocomplete="email" formControlName="email"
            class="w-full pl-11 pr-10 py-2 border border-green-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" />
        </div>


        <!--! Error -->
        @let emailControl=signInForm.get('email');
        @if(emailControl?.errors && emailControl?.touched){
        <div role="alert"
          class=" text-red-600 p-2 rounded-lg flex items-center transition duration-300 ease-in-out transform">
          <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-5 w-5 flex-shrink-0 mr-2 text-red-600"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2" stroke-linejoin="round"
              stroke-linecap="round"></path>
          </svg>
          @if(emailControl?.getError('required')){
          <p class="text-xs font-semibold">
            Email is required
          </p>
          }@else if(emailControl?.getError('email')){
          <p class="text-xs font-semibold">
            Enter a valid email
          </p>
          }


        </div>

        }
      </div>

      <!-- & Password -->
      <div class="relative z-0 w-full mb-5 group">

        <div class="relative w-full">
          <!-- Lock Icon -->
          <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-500 border-r pr-2">
            <i class="fa-solid fa-lock text-l"></i>
          </span>

          <!-- Input Field -->
          <input [type]="showPassword ? 'text' : 'password'" name="floating_password" id="floating_password"
            placeholder="Password" required autocomplete="new-password" formControlName="password"
            class="w-full pl-10 pr-10 py-2 border border-green-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" />

          <!-- Eye Icon -->
          <span class="absolute inset-y-0 right-0 flex items-center pr-3 text-green-500 cursor-pointer"
            (click)="togglePassword()">
            <i [ngClass]="showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </span>
        </div>


        <!--! Error -->
        @let passControl=signInForm.get('password');
        @if(passControl?.errors && passControl?.touched){
        <div role="alert"
          class="text-red-600 p-2 mb-2 rounded-lg flex items-center transition duration-300 ease-in-out transform ">
          <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-5 w-5 flex-shrink-0 mr-2 text-red-600"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2" stroke-linejoin="round"
              stroke-linecap="round"></path>
          </svg>
          @if (passControl?.getError('required')) {
          <p class="text-xs font-semibold">Password is required</p>
          } @else if (passControl?.getError('pattern')) {
          <p class="text-xs font-semibold">Password must be at least 7 letters and start with uppercase</p>
          }
        </div>
        }
      </div>



      <!-- & Btn Submit -->
      <button [disabled]="isLoading" type="button" (click)="onSubmit()"
        class="text-white bg-green-600 block mx-auto hover:bg-green-900 font-semibold rounded-lg text-sm w-full my-8 px-5 py-2.5">
        @if(isLoading){
        <i class="fas fa-spin fa-spinner"></i>
        }@else {
        Sign In
        }
      </button>
      <div class="text-end">
        <a [routerLink]="['/forget']" class="text-gray-600 m-5 text-sm font-semibold hover:text-red-600">Forget Password
          ?</a>

      </div>
    </form>
  </div>
</div>
